<nav>
  <li>
    <a routerLink="/imovina" routerLinkActive="active" ariaCurrentWhenActive="page">Imovina</a>
  </li>
  <li>
    <a routerLink="/korisnici" routerLinkActive="active" ariaCurrentWhenActive="page">Korisnici</a>
  </li>
  <li>
    <a routerLink="/pesticidi" routerLinkActive="active" ariaCurrentWhenActive="page">Pesticidi</a>
  </li>
  <li>
    <a routerLink="/subvencije" routerLinkActive="active" ariaCurrentWhenActive="page">Subvencije</a>
  </li>
  <li>
    <a routerLink="/registracija" routerLinkActive="active" ariaCurrentWhenActive="page">Registracija</a>
  </li>
</nav>
<router-outlet></router-outlet>