<form>
    <input type="text" placeholder="Korisnicko ime">
    <input type="password" placeholder="Lozinka">
    <button>Uloguj se</button>
</form>

<form>
    <input type="text" placeholder="Korisnicko ime">
    <input type="password" placeholder="Lozinka">
    <input type="text" placeholder="Ime">
    <input type="text" placeholder="Prezime">
    <input type="text" placeholder="Pol">
    <input type="text" placeholder="Broj telefona">
    <input type="text" placeholder="Broj telefona">
    <input type="date">
    <button>Registruj se</button>
</form>